[submodule "alvarado"]
	path = alvarado
	url = git@git.vauxoo.com:vauxoo/alvarado.git
[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 12.0
